# ======================
# Backend (Python)
# ======================
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/cache
backend/scrapers/__pycache__
backend/scrapers/instamart.py

# ======================
# Frontend (Node)
# ======================
frontend/node_modules/

# ======================
# Env files
# ======================
.env
backend/.env
backend/node-server/.env
frontend/.env
frontend/build/

# Node dependencies
node_modules/

# ======================
# OS / IDE
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ======================
# Logs
# ======================
*.log